@{
    ViewData["Title"] = "Lista de Pagos";
}
<h1 class="text-light">@ViewData["Title"]</h1>
<h4 class="text-light">Buscar pago por cédula de estudiante</h4>
<nav class="navbar bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary " type="submit">Buscar</button>
        </form>
    </div>
</nav>
<h4 class="text-light">Buscar pago por ID de pago</h4>
<nav class="navbar bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary " type="submit">Buscar</button>
        </form>
    </div>
</nav>

<table class="table table-success table-striped-columns">
    <thead>
        <tr>
            <th scope="col">Id Pago</th>
            <th scope="col">Cuota</th>
            <th scope="col">Estudiante</th>
            <th scope="col">Pension</th>   
            <th scope="col">Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr>          
            <td>1</td>
            <td>3</td>
            <td>Julian</td>
            <td>Beca Estudiantil</td>
            <td>
                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Edit", "Pago")'">Pagar</button>
            </td>
        </tr>
    </tbody>
</table>


<p>En esta pagina se muestran los pagos</p>
