
@{
    ViewData["Title"] = "Lista de Estudiantes";
}
<h1>@ViewData["Title"]</h1>
<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Estudiante")'">Agregar Estudiante</button>
<h3>Buscar estudiante por cédula</h3>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
</nav>
<div class="btn-group" role="group" aria-label="Basic example">
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id Estudiante</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cedula</th>
            <th scope="col">Direccion</th>
            <th scope="col">Activo</th>
            <th scope="col">Pension</th>
            <th scope="col">Accion</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Julian</td>
            <td>1710044</td>
            <td>pampa</td>
            <td>Activo</td>
            <td>Beca Estudiantil</td>
            <td>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Details", "Estudiante")'"><i class="bi bi-eye-fill"></i></button>
                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Edit", "Estudiante")'"><i class="bi bi-pencil-fill"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<p>En esta pagina se muestran los estudiantes</p>
