@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light">
    <h1 class="display-4 text-light">Menú de Inicio</h1>
    <img src="/img/logo.png" class="img-fluid" alt="Logo empresa">


</div>
