@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Menú de Inicio</h1>
    <div>
        <h2>Lista de Estudiantes</h2>
        <a class="btn btn-info" asp-area="" asp-controller="Estudiante" asp-action="Index">Ingresar</a>
        <h2>Lista de Pagos</h2>
        <button type="button" class="btn btn-danger" asp-area="" asp-controller="Pago" asp-action="Index">Ingresar</button>
        <h2>Lista de Pensiones</h2>
        <button type="button" class="btn btn-success">Ingresar</button>
        <h2>Global</h2>
        <button type="button" class="btn btn-warning">Ingresar</button>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
